body{
	background-image: url("backgroundBP.jpg");
	background-color: #FFD700;
	font-family: Comic Sans MS, Comic Sans, cursive;
	background-size: 100%;
	color: black;
	display: flex;
	flex-direction: column;
}
.imagens{
	margin:auto;
	border: none;
	justify-content: space-between;
}
*{
	margin: 0;
	padding: 0;
}
div{
	background-color: #FFD700;
	margin: 20px 400px 10px 400px;
	padding: 10px;
	border: 10px solid #000;
}
footer{
	color: #FFD700;
	text-shadow: 1px 1px 1px #111111;
	background-color: #111;
	height: 50px;
	text-align: center;
	padding: 10px;
}
#div_logo{
	background-color: #FFD700;
	height: 27.5%;
	width: 27.5%;
	padding: 50px 300px 25px 200px;
	border: 25px solid #000;
	margin: 0px 100px 10px 300px;
}
#div_img{
	text-align:center;
	width: 60%;
	display:block;
	margin:auto;
}
